.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  margin-top: 30px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  position: relative;
  left: 30px;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.header__title {
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  font-weight: 500;
  max-width: 709px;
  margin-left: 80px;
  margin-top: 183px;
  margin-bottom: 28px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  max-width: 636px;
}

.header__footer {
  margin-top: auto;
}

.header__hours {
  position: absolute;
  left: 80px;
  bottom: 40px;
}

.header__paragraph {
  margin: 0;
  font-weight: 500;
  color: #838383;
}

.header__hours-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  position: absolute;
  right: 80px;
  bottom: 40px;
  color: #838383;
}

.recipes {
  background-image: url("../images/background_recipes.svg");
  background-color: #0a2750;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 100px 0 215px;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 0 80px;
  max-width: 580px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0 80px;
}

.recipes__videos {
  display: flex;
  column-gap: 40px;
  margin: 80px auto 0;
}

.recipes__video-item {
  width: 480px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.recipes__iframe {
  width: 100%;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.recipes_paragraph {
  margin: 0;
}

.reservation {
  background-image: url("../images/background_reservation.svg");
  background-color: #d9e7ff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 120px;
}

.reservation__title {
  margin: 0 auto 80px auto;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  width: 100%;
}

.form__label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  column-gap: 12px;
}

.form__input {
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  border-radius: 4px;
  opacity: 1;
  max-width: 385px;
  height: 60px;
  margin-bottom: 32px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #2f80ed;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}
